{% extends ':blog:layout.html.twig' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ post.title }}</h3>
        </div>
        <div class="panel-body">
            {{ post.content }}
        </div>
        <div class="panel-footer">
            {{ post.user.getFullName() }} / {{ post.datetime|date('d-m-Y H:i') }} / <a href="{{ path('blog.category', { slug: post.category.slug }) }}">{{ post.category.name }}</a> /
            {% for tag in post.tags %}
                <a href="{{ path('blog.tag', { slug: tag.slug }) }}"><span class="label label-default">{{ tag.name }}</span></a>
            {% endfor %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Komentarze</h3>
        </div>
        {% if not comments %}
            <div class="panel-body">
                {{ 'blog.post.comments.lack'|trans }}
            </div>
        {% else %}
            <div class="panel-body">
                {% for comment in comments %}
                    <blockquote>
                        <p>
                            {{ comment.comment }}
                            {% if is_granted('ROLE_ADMINISTRATOR') %}
                                <a href="{{ path('blog.comment.delete', { id: comment.id }) }}">
                                    <span class="close">&times;</span>
                                </a>
                            {% endif %}
                        </p>
                        <footer>{{ comment.user.getFullName() }}, {{ comment.createdAt|date('d-m-Y H:i:s') }}</footer>
                    </blockquote>
                {% endfor %}
            </div>
        {% endif %}
        <div class="panel-footer">
            {% if app.user %}
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary" type="submit">{{ 'blog.comment.form.submit'|trans }}</button>
                {{ form_end(form) }}
            {% else %}
                <div class="alert alert-success" style="margin-bottom: 0;">{{ 'blog.post.comments.shouldSignin'|trans({ '%url%': path('blog.signin') })|raw }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

